<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="fondo4">
        <h1>Edith Clarke</h1>
        <img class= "clarke2" src="img/EC1.jpg" alt="">
       <p>
        El 10 de febrero de 1883 nació en Howard County, estado de Maryland (EE. UU.), Edith Clarke, la que sería una pionera en el campo de la electricidad.

Gracias a unas propiedades que heredó, consiguió entrar en el Vasaar College, en Poughkeepsie, Nueva York, estudiando aquí matemáticas y astronomía. Obtuvo la graduación en el año 1908 y llegó a ser un Phi Beta Kappa. La Phi Beta Kappa es una sociedad honorífica fundada en 1776 para estudiantes universitarios con aptitudes académicas sobresalientes. El nombre proviene de las iniciales griegas que forman el lema de la asociación: philosophia biou kubernetes (la filosofía como motor de vida).
       </p>
        <li>
            <a href="/">Volver a inicio</a>
        </li>
    
    </div>
</body>
</html>