<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="fondo7">
        <h1>Lovelace</h1>
        <img class= "lovelace2" src="img/2020-29-Ada-Lovelace.jpg" alt="">
       <p>
        Ada Lovelace nació el 10 de diciembre de 1815 en el seno del matrimonio del poeta Lord Byron y Anna Isabella Milbanke. Esta última abandonó a su marido, padre de Ada, al poco tiempo de casarse. Este hecho que provocó que Lovelace recibiese una educación muy peculiar para una mujer de su época. Y es que se basada en una formación excepcionalmente estricta en matemáticas. Algo que le llevó, años más tarde, a convertirse en una pionera de este ámbito llegando a ser considerada como la «madre» de la programación.
       </p>
        <li>
            <a href="/">Volver a inicio</a>
        </li>
    
    </div>
</body>
</html>